*.~14~
*.dcu
Essentials/Aula_01/__history/ConversorMoedas.dpr.~15~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~16~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~17~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~18~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~19~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~20~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~21~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~22~
Essentials/Aula_01/__history/ConversorMoedas.dpr.~23~
Essentials/Aula_01/__history/ConversorMoedasComInterfaceGrafica.dpr.~1~
Essentials/Aula_01/__history/ConversorMoedasComInterfaceGrafica.dpr.~2~
Essentials/Aula_01/__history/Model.Conversor.pas.~13~
Essentials/Aula_01/__history/Model.Conversor.pas.~15~
Essentials/Aula_01/__history/Model.Conversor.pas.~16~
Essentials/Aula_01/__history/Model.Conversor.pas.~17~
Essentials/Aula_01/__history/Model.Conversor.pas.~18~
Essentials/Aula_01/__history/Model.Conversor.pas.~19~
Essentials/Aula_01/__history/Model.Conversor.pas.~20~
Essentials/Aula_01/__history/Model.Conversor.pas.~21~
Essentials/Aula_01/__history/Model.Conversor.pas.~22~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~16~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~17~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~18~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~19~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~20~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~21~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~22~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~23~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~24~
Essentials/Aula_01/__history/Model.ConversorGenerico.pas.~25~
Essentials/Aula_01/__history/Model.Procedural.pas.~1~
Essentials/Aula_01/__history/Model.Procedural.pas.~2~
Essentials/Aula_01/__history/Model.Procedural.pas.~3~
Essentials/Aula_01/__history/Model.Procedural.pas.~4~
Essentials/Aula_01/__history/Model.Procedural.pas.~5~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~15~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~16~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~17~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~18~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~19~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~20~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~21~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~22~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~23~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.fmx.~24~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~50~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~51~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~52~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~53~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~54~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~55~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~56~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~57~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~58~
Essentials/Aula_01/__history/View.InterfaceGrafica.ConversorMoedas.pas.~59~
Essentials/Aula_01/APIs/BuscaPais/__history/BuscaPais.dpr.~1~
Essentials/Aula_01/APIs/BuscaPais/__history/BuscaPais.dpr.~2~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~1~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~2~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~3~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~4~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~5~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~6~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.dfm.~7~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~10~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~11~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~12~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~13~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~15~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~6~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~7~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~8~
Essentials/Aula_01/APIs/BuscaPais/__history/DmConnection.pas.~9~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~10~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~11~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~2~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~3~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~4~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~5~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~6~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~7~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~8~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.fmx.~9~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~44~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~45~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~46~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~47~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~48~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~49~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~50~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~51~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~52~
Essentials/Aula_01/APIs/BuscaPais/__history/View.BuscaPais.pas.~53~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.fmx.~1~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.fmx.~2~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.fmx.~3~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~10~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~11~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~12~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~13~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~15~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~16~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~17~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~18~
Essentials/Aula_01/Client/__history/View.Client.ConversorMoedas.pas.~9~
Essentials/Aula_01/Server/__history/Server.dpr.~1~
Essentials/Aula_01/Server/__history/ServerMethodsUnit1.pas.~1~
Essentials/Aula_01/Server/__history/ServerMethodsUnit1.pas.~2~
Essentials/Aula_01/Server/__history/ServerMethodsUnit1.pas.~3~
Essentials/Aula_01/Server/__history/ServerMethodsUnit1.pas.~4~
Essentials/Aula_01/Server/__history/ServerMethodsUnit1.pas.~5~
/FastsReports/DataModules/__history
/FastsReports/__history
/FastsReports/Win32
